.text-decorator-none{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navcor{
    padding-left: 25%;
    background-color: #022A43 !important;
}

.div {
    border-style: double;
    border-width: 1px;  
    border-color: #98C7E4;
}

.spaceAround{
    justify-content: space-around !important;
}
