.apagarSim{
    size: 20% !important;
    background-color: rgb(17, 87, 110) !important;
    color: white !important;
    margin-left: 250px !important;
}


.bodyPostDeletar{
    background: rgb(219, 219, 219) !important;
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
}


.apagarNao{
    size:small;
    background-color: darkred !important;
    color: white !important;
}

.boldText {
    font-weight: bold !important;
    font-size: 20px !important;
}