.textColor {
    color: rgb(204, 205, 206) !important;
}

.formColor {
    color :white !important;
    border-color: white !important;
}

.botaoForm {
    background-color: rgb(17, 87, 110) !important;
    color: white !important;
    margin-left: 468px !important;
    margin-bottom: 0px !important;
}


.paddingGeral {
    margin-left: 200px !important;
}
