.text-decorator-none{
    text-decoration: none;
}

.paddingFormularioPost{
    padding: 50% !important;
    margin-left: 50% !important;
    align-items: center !important;
}

.tituloPostagem {
    color: rgb(14, 8, 34) !important;
    font-weight: bold !important;
    font-size: 23px !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.textoPostagem {
    color: black !important;
    font-size: 15px !important;
}

.textoTema {
    color: rgb(75, 72, 72) !important;
    font-weight: bold !important;
    font-size: 15px !important;
    margin-left: 75% !important;
}

.boxBotao{
    display: flex;
    align-items: flex-end;
    margin-left: 100% !important;
}

.abotao{
    size: small;
    background-color: rgb(17, 87, 110) !important;
    color: white !important;
    margin-left: 10% !important;
}

.ebotao{
    size:small;
    background-color: darkred !important;
    color: white !important;
}

.cardColor{
    background-color: #98C7E4 !important;
    border-radius: 5px !important;
    border-color: rgb(43, 43, 63) !important;
    size-adjust: 20px !important;
}

.hr {
    margin-right: 50px !important;
	border: 0;
	border-top: 2px solid #98C7E4;
}

.hr {
	border: 0;
	border-top: 1px solid #98C7E4;
}

.marginLeft {
    margin-left: 40px !important;
}


/* Aba Responsividade, Dimension base Moto G4 (360px) x (640px) / 100% Vh */

@media (max-width: 360px){
    
    .text-decorator-none{
        text-decoration: none;
    }
    
    .tituloPostagem {
        color: rgb(14, 8, 34) !important;
        font-weight: bold !important;
        font-size: 20px !important;
        font-family: Georgia, 'Times New Roman', Times, serif !important;
    }
    
    .textoPostagem {
        color: black !important;
        font-size: 15px !important;
    }
    
    .textoTema {
        padding-right: 5% !important;
        color: rgb(75, 72, 72) !important;
        font-weight: bold !important;
        font-size: 18px !important;
        margin-left: 65% !important;
    }
    
    .boxBotao{
        display: flex;
        align-items: flex-end;
        margin-left: 50% !important;
    }
    
    .abotao{
        size: small;
        background-color: rgb(17, 87, 110) !important;
        color: white !important;
        margin-left: 10% !important;
    }
    
    .ebotao{
        size:small;
        background-color: darkred !important;
        color: white !important;
    }
    
    .cardColor{
        background-color: #98C7E4 !important;
        border-radius: 5px !important;
        border-color: rgb(43, 43, 63) !important;
        size-adjust: 20px !important;
    }

    .card{
        width: 300px;
    }
    
    .hr {
        margin-right: 50px !important;
        border: 0;
        border-top: 2px solid #98C7E4;
    }
    
    .hr {
        border: 0;
        border-top: 1px solid #98C7E4;
    }
    
    .marginLeft {
        margin-left: 40px !important;
    }

}