.haquaLogo{
  position: absolute;
  width: 119px;
  height: 111px;
  left: 755px;
  top: 150px;
  border-radius: 0px;
}

.buttom{
  position: absolute;
  width: 172px;
  height: 60px;
  left: 772px;
  top: 560px;

}

.retangulo1{
  position: absolute;
  width: 520px;
  height: 70px;
  left: 555px;
  top: 300px;
}

.border{
  background: #F1F1F1;
  border: 2px solid #D0DCFB;
  border-radius: 5px;
}

.recuperarSenha{
  position: absolute;
  width: 153px;
  height: 18px;
  left: 550px;
  top: 460px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

color: #98C7E4;
}

.cadastrar{
  position: absolute;
  width: 186px;
  height: 46px;
  left: 727px;
  top: 620px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #98C7E4;
}

.projetoHaqua{
  position: absolute;
  width: 135px;
  height: 16px;
  left: 752px;
  top: 850px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #98C7E4;
}

body{
  background: #022A43;
}