.cadastromenu {
    width: 500px;
    padding: 4% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 58px;
  }
  .form input {
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    text-transform: uppercase;
    outline: 0;
    margin-left: 275px;
    background: #b2b4bb;
    width: 25%;
    height: 15%;
    border: 0;
    padding: 4px;
    color: #000000;
    font-size: 12px;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #2F4D9B;
    color: white;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #000000;
    text-decoration: none;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  
  body {
    background: #2F4D9B;    
  }
  .text-decorator-none {
    text-decoration: none;
  }
  
  .textoCadastro {
    font-weight: bold !important;
    color: #000000 !important;
    
  }
  
  .titulo {
    font-weight: bold!important;
  
  }
  