
.background-cadastro{
  background-color: #1F587B !important;
}

.retanguloCadastro{
  background: #022A43 !important;
  background-repeat: no-repeat !important;
  width: 100vh;
  height: 100vh;
}
.textCadastro{
  color: #98C7E4 !important;
}

.inputBackGroudCadastro{
  background-color: white !important;
  border: 1px solid;
  border-radius: 6px;
}


.logoCadastro{
  margin-left: 10px;
}
