.haquaLogo{
  height: 161px;
  width: 187px;
  left: 20%;
  margin-top: 15%;
  border-radius: 0px;
}
.retanguloLogo{
  background: #022A43;
}

.border{
  background: #F1F1F1;
  border: 2px solid #D0DCFB;
  border-radius: 10px;
}

.retangulo4{
  position: absolute;
  width: 668px;
  height: 86px;
  left: 700px;
  top: 170px;
}

.buttom{
  position: absolute;
  width: 172px;
  height: 60px;
  left: 850px;
  top: 520px;
}

.label {
  width: 400px;
}