
.background-cadastro{
  background-color: #1F587B !important;
}
.text-decorator-none{
  text-decoration: none;
}
.retanguloCadastro{
  background: #022A43 !important;
  background-repeat: no-repeat !important;
  width: 100vh;
  height: 100vh;
}
.textCadastro{
  color: #98C7E4 !important;
}

.inputBackGroudCadastro{
  background-color: white !important;
  border: 1px solid;
  border-radius: 6px;
  color: black;
}


.logoCadastro{
  margin-left: 70px !important;
}

.left-margin-cadastro{
  margin-left: 70px !important;
}

.margin-right-cadastro{
  margin-right: 20px !important;
}