.text-decorator-none{
    text-decoration: none;
}

.bodyTemaDeletar{
    background: rgb(219, 219, 219) !important;
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
}


.btnTema{
    background-color: #3a5668;
    color: azure;
}

.ListTema{
    background: rgb(218, 218, 218) !important;
}

.idTema{
    color: rgb(63, 61, 65);
}

.alignItems{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.marginLeft{
    margin-left: 150% !important;
}

.backgroundColor{
    background-color: rgba(245, 245, 245, 1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

