body{
    background: #022A43 !important;
    background-repeat: no-repeat !important;
}

.text-decorator-none{
    text-decoration: none;
}

.retanguloHome{
    background: #1F587B !important;
    background-repeat: no-repeat !important;
}

.textHome{
    padding-left: 18%;
    font-size: 20px !important;
    color: white;
}

.iconHome{
    width: 40px !important;
    height:30px !important;
}

.textarea {
    resize: none;
    margin-bottom: 1rem;
    color: black;
    background-color: #D0DCFB;
    width:  600px !important;
    height: 100px !important;
    border-color: #D0DCFB;
}

.p-5-home{
    padding-top: 50px;
}

.iconUsersHome{
    width: 60px !important;
    height: 60px !important;
    color: #D0DCFB;
    padding: 20px;
}

.btnHome{
    background-color: #98C7E4;
    color: azure;
}

.logoHomePost{
    color: white;
}

.cadastroPadding{
    padding: 1% !important;
    padding-right: 20% !important;
}

.listPostPadding{
    padding-left: 13% !important;
    padding-right: 5% !important;
    width: 90% !important;
}

.listPostColor{
    background-color: #98C7E4;
}

.BoxWidth{
    width: 300px !important;
}

.logoTop{
    margin-top: 5%;
}

.hr {
	border: 0;
	border-top: 1px solid #98C7E4;
}

.textSizeHome {
    font-size: 20px !important;
}

.marginRightHomeText {
    margin-right: 20px !important;
}