body{
    background: #022A43 !important;
    background-repeat: no-repeat !important;
}

.text-decorator-none{
    text-decoration: none;
}

.retanguloHome{
    background: #1F587B !important;
    background-repeat: no-repeat !important;
}

.textHome{
    padding-left: 15%;
    font-size: 20px !important;
    color: white;
}

.iconUsersHome{
    width: 10% !important;
    height: 60px !important;
    color: #D0DCFB;
    padding: 20px;
}

.btnHome{
    background-color: #98C7E4;
    color: azure;
}

.logoHomePost{
    color: white;
}

.logoHome{
    width: 100% !important;
    max-width: 441px;
}

.cadastroPadding{
    padding-top: 5% !important;
}

.listPostPadding{
    padding-left: 10% !important;
    padding-right: 5% !important;
    width: 100% !important;
    max-width: 830px;
}

.listPostColor{
    background-color: #98C7E4;
}

.logoTop{
    margin-top: 5%;
    width: 17%;
    max-width: 441px;
}

.hr {
	border: 0;
	border-top: 1px solid #98C7E4;
}

.textSizeHome {
    font-size: 20px !important;
}

.marginRightHomeText {
    margin-right: 20px !important;
}



@media (max-width: 640px){


    .text-decorator-none{
        text-decoration: none;
    }
    
    .retanguloHome{
        background: #1F587B !important;
        background-repeat: no-repeat !important;
    }
    
    .textHome{
        padding-left: 5%;
        font-size: 20px !important;
        color: white;
    }
    
    .iconUsersHome{
        width: 10% !important;
        height: 60px !important;
        color: #D0DCFB;
        padding: 20px;
    }
    
    .btnHome{
        background-color: #98C7E4;
        color: azure;
    }
    
    .logoHomePost{
        color: white;
    }
    
    .logoHome{
        width: 100% !important;
        max-width: 441px;
    }
    
    .cadastroPadding{
        padding-top: 5% !important;
    }
    
    .listPostPadding{
        padding-left: 10% !important;
        padding-right: 5% !important;
        width: 100%;
    }
    
    .listPostColor{
        background-color: #98C7E4;
    }
    
    .logoTop{
        margin-top: 25%;
        width: 20%;
        max-width: 441px;
    }
    
    .hr {
        border: 0;
        border-top: 1px solid #98C7E4;
    }
    
    .textSizeHome {
        font-size: 20px !important;
    }
    
    .marginRightHomeText {
        margin-right: 20px !important;
    }

}