*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyHome{
    background: rgb(218, 218, 218) !important;
    background-repeat: no-repeat;
}

.text-decorator-none{
    text-decoration: none;
}

.leftBar{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    top: 80px;
    padding: 10px;
    border-radius: 4px;
}

.rightBar{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    top: 100px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    background: white !important;
    background-repeat: no-repeat !important;
}

.rightBarTitle{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.rightBarTitle h3{ 
    font-weight: 600;
    font-size: 18px;
}

.rightBarTitle a{
    margin-left: 70px;
    text-decoration: none;
    color: #022A43;
    font-size: 13px;
}

.rightBarTitle-sub{
    text-decoration: none;
    color: #022A43;
    font-size: 12px;
}

.maisInfo{
    margin-right: 20%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.right-event h5{
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.right-event h6{
    color: black;
    font-size: 16px;
}

.right-event a{
    text-decoration: none;
    color: #022A43;
}

.right-event a:hover{
    color: black;
}

.left-event{
    border-radius: 12%;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #022A43;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.left-event h5{
    color: black;
    margin-left: 4px !important;
}

.event p{
    font-size: 12px;
} 

.textHome{
    padding-bottom: 2%;
    margin-top: 10% !important;
    padding-left: 10%;
    font-size: 20px !important;
    color: black;
}

.textHomeLeftbar{
    padding-bottom: 2%;
    margin-top: 10% !important;
    padding-left: 10%;
    font-size: 17px !important;
    color: black;
    display: inline;
}

.iconUsersHome{
    width: 10% !important;
    height: 60px !important;
    color: #D0DCFB;
    padding: 20px;
}

.btnHome{
    background-color: #98C7E4;
    color: azure;
}

.logoHomePost{
    color: white;
}

.listPostPadding{
    padding-left: 10% !important;
    margin-left: 5%;
    width: 100% !important;
    max-width: 830px;
}

.logoTop{
    margin-top: 5% !important;
    width: 12%;
}

.textSizeHome {
    font-size: 20px !important;
}

.marginRightHomeText {
    margin-right: 20px !important;
}

.marginLeftModal{
    margin-right: 10%;
    margin-left: 15% !important;
}



@media (max-width: 360px){

    .text-decorator-none{
        text-decoration: none;
    }
    
    
    .textHome{
        padding-left: 5%;
        font-size: 15px !important;
        color: white;
    }
    
    .iconUsersHome{
        width: 7% !important;
        height: 10px !important;
        color: #D0DCFB;
        padding: 20px;
    }
    
    .btnHome{
        background-color: #98C7E4;
        color: azure;
    }
    
    .logoHomePost{
        color: white;
    }
    
    .logoHome{
        width: 80% !important;
        max-width: 441px;
    }
    
    .cadastroPadding{
        padding-top: 5% !important;
    }
    
    .listPostPadding{
        padding-left: 10% !important;
        padding-right: 5% !important;
        width: 100%;
    }
    
    .listPostColor{
        background-color: #c8d0d4;
    }
    
    .logoTop{
        margin-top: 25%;
        width: 20%;
        max-width: 440px;
    }
    
    .hr {
        border: 0;
        border-top: 1px solid #98C7E4;
    }
    
    .textSizeHome {
        font-size: 20px !important;
    }
    
    .marginRightHomeText {
        margin-right: 20px !important;
    }

}
