.textDonate {
    color: #371772 !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: 20px !important;
}

.backgroundColorDonate {
    background-color: lightblue !important;
}

.box1donate {
    margin-top: 35px !important;
    margin-bottom: 10px !important;
}

.card {
    background-color: white !important;
    transition: 0.3s;
  }

 .cardColor {
     background-color: white !important;
 } 
  
.titleText {
    font-weight: bold !important;
    font-size: 20px !important;
    text-align: center !important;
    padding-top: 5px !important;
}

.textoDescricao {
    font-size: 15px !important;
    text-align: left !important;
    padding: 40px !important;
}

.botaoDoar{
    size: 20% !important;
    background-color: rgb(17, 87, 110) !important;
    color: white !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.botaoSaibaMais{
    size: 20% !important;
    background-color: rgb(17, 87, 110) !important;
    color: white !important;
    margin-top: 20px !important;
    margin-left: 120px !important;
}