.textDonate {
    color: #380a8d !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: 25px !important;
    padding: 15px;
}

.backgroundColorDonate {
    background-color: lightblue !important;
}

.boxEsquerda {
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.boxDireita {

}