.cardImage {
    border-radius: 500px !important;
    height: 200px !important;
    width: 200px !important;
    margin-left: 17px !important;
    margin-top: 30px !important;
}

.cardImage2 {
    border-radius: 500px !important;
    height: 200px !important;
    width: 200px !important;
    margin-left: 45px !important;
    margin-top: 30px !important;
}

.cardImage3 {
    border-radius: 500px !important;
    height: 200px !important;
    width: 200px !important;
    margin-left: 30px !important;
    margin-top: 30px !important;
}

.titleFont {
    font-weight: bold !important;
    text-align: center !important;
    font-size: 20px !important;
    padding-top: 5px !important;
    color: black !important;
}

.textFont {
    text-align: center !important;
    padding-top: 5px !important;
    color: black !important;
}

.gridPadding {
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.backGroundColorTopo {
    background-color: rgb(43, 78, 100) !important;
    padding: 5px !important;
}

.cardMargin {
    margin-left: 100px !important;
    margin-right: 100px !important;
    align-items: center !important;
    justify-content: center !important;
}


.paddingImg{
    margin-left: 2% !important;
}

.aboutFont {
    margin: 10%;
    font-size: 30px !important;
    font-weight: 500;
    padding: 20px !important;
    color: black !important;
    justify-content: flex-start;
}

.imgStyle{
    border-radius: 5px;
}

.backGroundDonate1 {
    background-color: rgb(235, 235, 235) !important;
}

.backGroundDonate2 {
    background-color: rgb(218, 218, 218) !important;
}

.box1donate {
    margin-top: 80px !important;
    margin-bottom: 10px !important;
}

.textDonate {
    color: #ffffff !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}