.topSobre {
    margin-top: 2%;
    padding: 7%;
    text-align: justify !important;
    justify-content: center !important;
    background-color: rgb(43, 78, 100);
}

.titulo {
    text-align: center;
    font-family: 'Convergence', sans-serif;
    color: rgb(255, 255, 255);
    padding-bottom: 2%;
    justify-content: center !important;
}

.txtPrincipal {
    font-family: 'Roboto', sans-serif !important;
    text-align: justify;
    color: rgb(247, 247, 247);
    padding-left: 5%;
    padding-right: 5%;
}

.bottomSobre {
    /* parte debaixo da pagina */
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 2%;
    transition: width 2s;
}

.imgPessoal {
    /* Box das fotos dos integrantes */
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    padding-bottom: 4%;
    transition: width 2s;
}

.imgPessoal2 {
    /* fotos dos integrantes */
    border-radius: 5%;
    width: 70%;
    margin-top: 10%;
}

.txtPessoal {
    /* Texto pitch dos integrantes */
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 3%;
    padding-left: 5%;
    color: rgb(52, 59, 150);
    font-weight: bold !important;
    font-size: 20px;
}

.botaoLinks {
    /*Box com texto e botão das fotos*/
    display: flex;
    justify-content: center;
    padding-left: 27%;
    size: small;
    padding-bottom: 10%;
}

.botaoLinkedin {
    size: small;
    background-color: rgb(246, 252, 252) !important;
    color: rgb(28, 36, 143) !important;
}

.botaoGithub {
    size: small;
    background-color: rgb(49, 45, 45) !important;
    color: white !important;
}
